@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
=======
>>>>>>> 3b0da073e6d84b9595cdd7782ff34a31d244d2c4
